<md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <h1 class="md-truncate flex bannerTitle">
            Blue 62
        </h1>
        <md-nav-item md-nav-click="goto('page1')" name="bears">
            Bears
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="blackhawks">
            Blackhawks
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="bulls">
            Bulls
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page4')" name="white-sox">
            White Sox
        </md-nav-item>
    </md-nav-bar>
</md-content>