<header ng-include="'/views/partials/home.header.html'"></header>

<body class="homeContainer">
    <div class="grid catchTable table table-hover" layout="horizontal" layout-align="center center" ng-cloak class="md-inline-form"
        layout-wrap>
        <table id="standings-table" flex="66">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>W</th>
                    <th>L</th>
                    <th>T</th>
                    <th>Pct.</th>
                    <th>PF</th>
                    <th>PA</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Streak</th>
                </tr>
            </thead>
            <tbody ng-repeat="items in vm.teams.list track by $index">
                <tr class="standings-table-row">
                    <td>{{items.market}}</td>
                    <td>{{items.wins}}</td>
                    <td>{{items.losses}}</td>
                    <td>{{items.ties}}</td>
                    <td>{{items.win_pct}}</td>
                    <td>{{items.points_for}}</td>
                    <td>{{items.points_against}}</td>
                    <td>{{items.records[3].record.wins}}-{{items.records[3].record.losses}}</td>
                    <td>{{items.records[5].record.wins}}-{{items.records[5].record.losses}}</td>
                    <td>{{items.streak.desc}}</td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="table" layout="horizontal" layout-align="center center" ng-cloak class="md-inline-form" layout-wrap>
        <table id="schedule-table" flex="66">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Date</th>
                    <th>Opponent</th>
                    <th>W/L</th>
                    <th>Result</th>
                    <th>Record</th>
                </tr>
            </thead>
            <tbody <tr class="standings-table-row">
                <tr>
                    <td>1</td>
                    <td>09/09</td>
                    <td>at GreenBay</td>
                    <td>L</td>
                    <td>23-24</td>
                    <td>0-1</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>9/17</td>
                    <td>Seattle</td>
                    <td>W</td>
                    <td>24-17</td>
                    <td>1-1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>9/23</td>
                    <td>@ Arizona</td>
                    <td>W</td>
                    <td>16-14</td>
                    <td>2-1</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>9/30</td>
                    <td>Tampa Bay</td>
                    <td>W</td>
                    <td>48-10</td>
                    <td>3-1</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td>BYE WEEK</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>10/14</td>
                    <td>@ Miami</td>
                    <td>L</td>
                    <td>31-28 OT</td>
                    <td>3-2</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>10/21</td>
                    <td>New England</td>
                    <td>L</td>
                    <td>38-31</td>
                    <td>3-3</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>10/28</td>
                    <td>Jets</td>
                    <td>W</td>
                    <td>24-10</td>
                    <td>4-3</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>11/4</td>
                    <td>@ Buffalo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>11/11</td>
                    <td>Detroit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>11/18</td>
                    <td>Minnesota</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>11/22 Thanksgiving</td>
                    <td>@ Detroit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>12/2</td>
                    <td>@ New York Giants</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>12/9</td>
                    <td>Los Angeles Rams</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>12/16</td>
                    <td>Green Bay</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>12/23</td>
                    <td>@ San Franscisco</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>12/30</td>
                    <td>@ Minnesota</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>






            </tbody>
        </table>

    </div>
    <div class="article-wrapper">
        <h2 class="articles-title">Bears News Feed</h2>
        <div class="articles" ng-repeat="articles in vm.articles.list track by $index">
            <a href="{{articles.link}}" class="article-link" target="_blank">{{articles.article}}</a>
        </div>
    </div>
</body>